body {
  background-color:  black;
  color: white;
}

p {
  font-style: italic;
  text-align: justify;
  font-size: 17px
}
h1 {
  text-align: center;
  line-height: 25px
}

h2 {
  text-align: left;
}
font-family: Verdana;
